.bookElement:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.contentStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contentSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 100px);
    padding: 20px;
    min-height: 300px;
}

.bookComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    overflow: hidden;
    transition: 0.3s;
}

.bookStyle {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    max-height: 400px;
    max-width: 250px;
    min-height: 400px;
    min-width: 250px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

.product {
    width: 300px;
    height: 462px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

    .product:hover {
        transition: 0.3s ease-in;
        cursor: pointer;
    }

    .product img {
        min-width: 300px;
        min-height: 462px;
    }

        .product img:hover {
            transition: 0.3s ease-in !important;
            cursor: pointer;
        }

    .product .description {
        text-align: center;
    }

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
}

.contentStyle,
.contentSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contentSecond {
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 100px);
    padding: 20px;
    min-height: 300px;
}

.bookStyle {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

    .productImgStyle:hover {
        transition: 0.3s ease-in !important;
        cursor: pointer;
    }


    @media screen and (max-width: 391px) {
        .content, .contentStyle, .shop, .bookElement, .bookComponent, .products {
            max-width: 70% !important;
        }
    }