.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 10px;
}

.categories, .topics {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.categories {
    max-height: 300px;
    overflow-y: auto;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories h2, .topics h2 {
    margin-bottom: 10px;
}

.categories li {
    margin-bottom: 5px;
}

.categories li:hover {
    font-weight: bold;
}

.topics {
    display: flex;
    flex-direction: column;
}

.topics h3 {
    font-size: 16px;
}

.topic-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readMoreButton {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rebeccapurple;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.readMoreButton:hover {
    background-color: mediumpurple;
}

.categories ul li a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .blog-page {
        padding: 0;
    }

    .categories, .topics {
        margin: 10px 0;
    }

    .topic-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .readMoreButton {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 391px) {
    .categories {
        max-height: 200px;
        padding: 5px;
        margin-left: 30px;
    }

    .topics {
        padding: 5px;
        margin-left: 30px;
    }

    .topic-item {
        padding: 5px;
    }

    .readMoreButton {
        padding: 5px;
    }
}
