.faqItem {
    width: 170vh;
    z-index: 1;
    margin: -15px;
}

.questionConteiner {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}