.relative {
    position: relative;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.opacity-50 {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.hover\:opacity-100:hover {
    opacity: 1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

.inline-block {
    display: inline-block;
}

.p-2 {
    padding: 0.5rem;
}

.hover\:scale-105:hover {
    transform: scale(1.05);
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.duration-300 {
    transition-duration: 300ms;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}