.stickyNav-main {
    max-width: 100%;
}

.logo {
    width: 300px;
    margin-left: 20px;
    max-width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    position: relative;
    right: 50px;
}

.navbar-colapse-custom-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imageStyles {
    width: 30px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 30%;
    background-color: rebeccapurple;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: auto;
    max-width: 100%;
}

.footerText {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
}

.footer {
    background-color: #f4f4f4;
    margin: 20px;
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcon {
    width: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styleNav {
    background-color: #f4f4f4 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    z-index: 999;
    position: sticky;
    top: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerFluidStyle {
    border-radius: 20px;
    height: 100px;
    width: 100%;
    background-color: #f4f4f4 !important;
    z-index: 999;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.linkStyle {
    text-decoration: none;
    color: black;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formDflexStyle {
    width: 500px !important;
    height: 80%;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #f4f4f4;
}

.formConstolStyle {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.allCursorPointer {
    cursor: pointer;
}

.basket {
    position: relative;
    right: 15px;
}

.root {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('src/assets/Frame.svg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.containerStyles {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainStyles {
    flex: 1;
}

.footerStyles {
    flex-shrink: 0;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1276px) {
    .logo {
        flex-wrap: wrap;
    }

    .d-flex {
        position: relative;
        left: 30%;
        bottom: 1px;
        max-width: 100px;
    }

    .me-2 { 
        display: none !important;
    }

    .navbar-collapse {
        position: relative;
        right: 200px;
    }
}

@media screen and (max-width: 857px) {
    .logo {
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 200px;
        height: auto;
        top: 10px;
        left: 30px;
    }

    .icons {
        right: 100%;
    }

    .social-icon {
        left: 100%;
    }

    .footer {
        width: 100vw;
        height: 100%;
        max-width: 90%;
    }

    .footer-text {
        font-size: 16px;
        max-width: 90%;
    }

    .styleNav {
        flex-wrap: wrap;
    }

    .formDflexStyle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navbar-colapse-custom-styles {
        flex-direction: column;
    }

    .containerFluidStyle {
        flex-direction: column;
        height: auto;
    }
    
    .nav-link {
        padding: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .navbar-collapse {
        position: relative;
        right: 40px;
        margin: 0;
        padding: 0;
    
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 250px !important;
        height: auto;
        top: 20px;
        right: 30px;
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        flex-wrap: wrap;
    }

    .icons {
        right: 50px;
    }

    .social-icon {
        left: 40px;
    }

    .footer {
        margin: 5px;
        max-width: 100%;
    }

    .footer-text {
        font-size: 14px;
    }

    .navbar-nav { 
        position: relative;
        right: 10px;
    }

    .styleNav { 
        position: relative;
    }
}

.footerHoverText:hover {
    color: darkgrey !important;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.iconSocialMediaHover:hover,
.footerHoverText:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.navMainSite {
    position: relative;
    left: 50px;
}

.navMainSite:hover {
    color: darkgrey !important;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}
