.Login {
    width: 680px;
    max-width: 100%;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    color: dimgray;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-button {
    max-width: 90%;
    box-shadow: 0 0 0 !important;
}

.Login h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(77, 1, 77);
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: calc(100% - 40px);
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-size: 16px;
    color: dimgray;
    padding: 20px;
}

.inputBox input::placeholder {
    color: dimgray;
}

.inputBox .icon {
    position: relative;
}

.wrapperLogin button {
    width: 100%;
    height: 45px;
    background-color: rebeccapurple;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.wrapperLogin button:hover {
    background-color: blueviolet;
}

.registerLink {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.registerLink p a {
    color: rgb(77, 1, 77);
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .Login {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .Login h1 {
        font-size: 28px;
    }

    .inputBox {
        margin: 20px 0;
    }

    .inputBox input {
        padding: 10px;
    }

    .inputBox .icon {
        left: 10px;
    }

    .wrapperLogin button {
        height: 40px;
        font-size: 14px;
    }

    .registerLink {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .Login {
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .login-form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .Login h1 {
        font-size: 24px;
    }

    .inputBox {
        margin: 15px 0;
    }

    .inputBox input {
        padding: 8px;
        height: 45px;
    }

    .wrapperLogin button {
        height: 35px;
        font-size: 12px;
    }

    .registerLink {
        font-size: 12px;
    }

    .icon {
        position: relative !important;
        padding: 20px;
    }

    .login-button {
        width: 300px !important;
    }
}
