.options {
    margin-top: 50px;
    max-width: 100%;
    cursor: pointer;
}

.selectOptionData:hover,
.selectOptionSubscribe:hover,
.selectOptionRecommend:hover,
.selectOptionStatic:hover,
.selectOptionLibraryClub:hover,
.selectOptionTransactions:hover,
.selectOptionLibraryCard:hover {
    font-weight: bold;
}

.componentSettings, .divSubscribe {
    max-width: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.mainContainerSettings {
    display: flex;
    width: 100%;
    min-height: 60vh;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.selectedOptionsView {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttonEmailSaveSettings, .buttonSaveSettings {
    width: 250px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.formContainer {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 0.1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .formContainer h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #333;
    }

.inputField {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

    .inputField:focus {
        outline: none;
    }

.buttonEmailSaveSettings, .buttonSaveSettings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteButton {
    background-color: red;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

    .deleteButton:hover {
        background-color: lightcoral;
    }

.divChangeEmail, .divUserDetails, .divUserLastName, .divUserPassword, .divUserPhone, .divUserAddress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
    font-size: 15px;
}

.formContainer h2 {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.divH2UserData{
    font-size: 15px;
}

.recomend-component {
    background-color: #e9e9e9; 
    height: 100%; 
    width: 90%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.recommend-p, .recommend-h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend-h1 {
    font-size: 15px;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .mainContainerSettings {
        flex-direction: column;
    }
    .formContainer {
        width: 90%;
    }
    .inputField {
        width: 90%;
    }
    .buttonEmailSaveSettings, .buttonSaveSettings {
        width: 90%;
    }
    .divChangeEmail, .divUserDetails, .divUserLastName, .divUserPassword, .divUserPhone, .divUserAddress {
        width: 90%;
    }
    .recomend-component {
        width: 110%;
        margin: 20px;
        padding: 20px;
    }
    .options {
        width: 100%;
    }
    .selectOptionLibraryClub, .selectOptionData, .selectOptionLibraryCard, .selectOptionRecommend, .selectOptionStatic, .selectOptionSubscribe, .selectOptionTransactions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 391px) {
    .mainContainerSettings {
        flex-direction: column;
        margin-left: 15px;
    }
    .formContainer {
        width: 90%;
    }
    .inputField {
        width: 90%;
    }
    .buttonEmailSaveSettings, .buttonSaveSettings {
        width: 90%;
    }
    .divChangeEmail, .divUserDetails, .divUserLastName, .divUserPassword, .divUserPhone, .divUserAddress {
        width: 90%;
    }
    .recomend-component {
        width: 110%;
        margin: 20px;
        padding: 20px;
    }
    .options {
        width: 100%;
    }
    .selectOptionLibraryClub, .selectOptionData, .selectOptionLibraryCard, .selectOptionRecommend, .selectOptionStatic, .selectOptionSubscribe, .selectOptionTransactions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deleteButton {
        max-width: 90%;
    }

    .selectedOptionsView {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recommend-h1 {
        font-size: 14px !important;
    }

    .buttonEmailSaveSettings {
        font-size: 14px !important;
    }
    
}