.options {
    margin-top: 50px;
    width: 220px;
    cursor: pointer;
}

.selectOptionData:hover, .selectOptionSubscribe:hover, .selectOptionRecommend:hover, .selectOptionStatic:hover, .selectOptionLibraryClub:hover, .selectOptionTransactions:hover, .selectOptionLibraryCard:hover {
    font-weight: bold;
}

.componentSettings {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 250px;
}

.mainContainerSettings {
    display: flex;
    width: 100%;
    min-height: 60vh;
    align-items: flex-start;
    justify-content: space-between;
}

.selectedOptionsView {
    flex-grow: 1;
}

.buttonEmailSaveSettings {
    width: 250px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.divChangeEmail {
    height: 400px;
    border: none;
    border-radius: 10px;
}

.componentSettings, .divChangeEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divSubscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 500px;
    position: relative;
    left: 300px;
    top: 100px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}


.divChangeEmail, .divUserDetails {
    width: 100%;
}

.divChangeEmail h2, .divUserDetails h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.divUserDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -30px;
}

.inputField {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.inputField:focus {
    outline: none;
}

.buttonEmailSaveSettings {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonSaveSettings {
    height: 50px;
    width: 300px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

}


.divUserLastName, .divUserPassword, .divUserPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}