.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

    .products:hover {
        transition: 0.3s ease-in !important;
        cursor: pointer !important;
    }

.product {
    width: 300px;
    height: 462px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

    .product:hover {
        transition: 0.3s ease-in !important;
        cursor: pointer !important;
    }

    .product img {
        min-width: 300px;
        min-height: 462px;
    }

    .product img:hover {
        transition: 0.3s ease-in !important;
        cursor: pointer;
    }

    .product .description {
        text-align: center;
    }

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
    color: black;
}

.contentStyle,
.contentSecond {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contentSecond {
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 100px);
    padding: 20px;
    min-height: 300px;
}

.bookStyle {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.productImgStyle {
    min-width: 300px;
    min-height: 462px;
    max-width: 300px;
    max-height: 462px;
    -webkit-box-shadow: 11px 6px 34px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 11px 6px 34px -7px rgba(66, 68, 90, 1);
    box-shadow: 11px 6px 34px -7px rgba(66, 68, 90, 1);
}

    .productImgStyle:hover {
        transition: 0.3s ease-in !important;
        cursor: pointer;
    }

    @media screen and (max-width: 391px) {
        .content, .shop {
            max-width: 90%;
            margin-left: 2%;
        }
    }