.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cartItem {
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
}

    .cartItem img {
        width: 200px;
        margin: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    }

    .cartItem .description {
        width: 100%;
        font-size: 30px;
    }

.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.yourCartItems {
    padding-top: 20px;
    font-size: 15px;
    border-bottom: solid;
    color: black;
    margin-bottom: 30px;
}

.yourCartEmpty {
    font-size: 15px;
    color: black;
    margin-top: 70px;
}

.continueShopping {
    width: 150px;
    height: 50px;
    max-width: 150px;
    max-height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.checkout button {
    width: 150px;
    height: 50px;
    max-width: 150px;
    max-height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.addMoreItemCart {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 391px) {
    .cart, .cartItem {
        max-width: 90% !important;
        max-height: 90% !important;
    }

    .description {
        max-width: 50% !important;
    }

    .description, .countHandler, .addMoreItemCart, .yourCartItems {
        max-width: 90%;
    }

    .content {
        margin-right: 30px;
    }
}